

 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  min-height: 100vh;
  background: linear-gradient(135deg, #283c86, #1d211d);
  color: #333;
}


header {
  background: rgba(0, 0, 0, 0.4);
  padding: 20px 10px;
  text-align: center;
  border-bottom: 3px solid rgba(255,255,255,0.1);
}

header h1 {
  color: #ffffff;
  margin-bottom: 10px;
  font-size: 36px;
}


.navbar {
  margin-top: 10px;
}

.navbar a {
  text-decoration: none;
  color: #ffffff;
  margin: 0 12px;
  font-weight: 600;
  padding: 10px 15px;
  border-radius: 6px;
  transition: all 0.3s ease;
}

.navbar a:hover {
  background-color: #ffffff;
  color: #2c5364;
}

h2 {
  text-align: center;
  margin: 30px 0 15px;
  font-size: 30px;
  color: #ffffff;
}

  




.about { 

  max-width: 900px;
  margin: 40px auto;
  padding: 30px;
  background-color: #7f9ede;
  border-radius: 12px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.06);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.about h2 {
  font-size: 32px;
  color: #f5f3f3;
  margin-bottom: 15px;
  text-align: center;
}

.about h3 {
  font-size: 22px;
  color: #2c3e50;
  margin-top: 25px;
  margin-bottom: 10px;
}


.about p {
  font-size: 16px;
  line-height: 1.7;
  color: #140101;
}


.about strong {
  color: rgb(229, 229, 229);
}


.about ul {
  margin-top: 10px;
  padding-left: 20px;
}

.about ul li {
  font-size: 16px;
  color: #240000;
  margin-bottom: 8px;
  list-style: disc;
}


@media (max-width: 768px) {
  .about {
    margin: 20px;
    padding: 20px;
  }

  .about h2 {
    font-size: 26px;
  }

  .about h3 {
    font-size: 20px;
  }
}
